<!-- templates/layout.tmpl -->
<html>
  <head>
    <title>DotViz Server</title>
  </head>
  <body>
    <!-- Render the current template here -->
    <table>
      <tr>
          <td><a href="/"><img src="/img/GraphvizLogo.png" width="150" height="150"></a></td>
          <td><h1>DotVizServer - Online Graph Visualization Software</h1></td>
      <tr>
    </table>
    <center>
    {{ yield }}
  </center>
  </body>
</html>
